@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: hsl(0, 0%, 96%);
    --foreground: hsl(0, 0%, 0%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(224, 71.4%, 4.1%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(224, 71.4%, 4.1%);
    --primary: hsl(258, 65%, 67%);
    --primary-foreground: hsl(210, 20%, 98%);
    --secondary: hsl(220, 14.3%, 95.9%);
    --secondary-foreground: hsl(220.9, 39.3%, 11%);
    --muted: hsl(220, 14.3%, 95.9%);
    --muted-foreground: hsl(220, 8.9%, 46.1%);
    --accent: hsl(220, 14.3%, 95.9%);
    --accent-foreground: hsl(220.9, 39.3%, 11%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 20%, 98%);
    --border: hsl(220, 13%, 91%);
    --input: hsl(220, 13%, 91%);
    --ring: hsl(224, 71.4%, 4.1%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(0, 0%, 0%);
    --foreground: hsl(210, 20%, 98%);
    --card: hsl(224, 71.4%, 4.1%);
    --card-foreground: hsl(210, 20%, 98%);
    --popover: hsl(224, 71.4%, 4.1%);
    --popover-foreground: hsl(210, 20%, 98%);
    --primary: hsl(258, 65%, 67%);
    --primary-foreground: hsl(220.9, 39.3%, 11%);
    --secondary: hsl(215, 27.9%, 16.9%);
    --secondary-foreground: hsl(210, 20%, 98%);
    --muted: hsl(215, 27.9%, 16.9%);
    --muted-foreground: hsl(217.9, 10.6%, 64.9%);
    --accent: hsl(215, 27.9%, 16.9%);
    --accent-foreground: hsl(210, 20%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(210, 20%, 98%);
    --border: hsl(215, 27.9%, 16.9%);
    --input: hsl(215, 27.9%, 16.9%);
    --ring: hsl(216, 12.2%, 83.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input::placeholder {
  color: var(--muted-foreground); 
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}


/* Target the scrollbar container */
.scrollable-element {
  overflow-y: auto;
}

/* Style the scrollbar */
.scrollable-element::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track */
.scrollable-element::-webkit-scrollbar-track {
  background-color: #000000; /* Set the track color */
  border-radius: 10px; /* Optionally round the corners */
}

/* Style the scrollbar thumb (the draggable part) */
.scrollable-element::-webkit-scrollbar-thumb {
  background-color: #9574e2; /* Set the thumb color */
  border-radius: 5px; /* Optionally round the corners */
  border: 3px solid #9574e2; /* Add a border to give contrast */
}

/* Change the thumb color when hovering */
.scrollable-element::-webkit-scrollbar-thumb:hover {
  background-color: #9574e2; /* Darken the thumb when hovering */
}
